# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__
.venv

# javascript ignores
node_modules

# Serverless directories
.serverless

# other . dirs
.cache
.requirements.zip
.pytest_cache
.generated
.terraform

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*auto.tfvars
terraform.tfvars

test-reports
*.log